<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRecuperarContrasena" />
                <binding name="BasicHttpBinding_IPapeleta" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14958/RecuperarContrasena.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecuperarContrasena"
                contract="SWRecuperarContrasena.IRecuperarContrasena" name="BasicHttpBinding_IRecuperarContrasena" />
            <endpoint address="http://localhost:14958/Papeleta.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPapeleta" contract="SWPapeleta.IPapeleta"
                name="BasicHttpBinding_IPapeleta" />
        </client>
    </system.serviceModel>
</configuration>